<table class="Table" width="800px">
  <tr>
    <td valign="top" style="padding-left:20px" width="300px">
      <table class="table table-bordered" >
          <th scope="col">Portfolio Name</th>
          <th scope="col">Description</th>
          <th scope="col">Managed By</th>
          <tr *ngFor="let portfolio of portfolios">
              <td scope="row">{{ portfolio.name }}</td>
              <td scope="row">{{ portfolio.description }}</td>
              <td scope="row">{{ portfolio.managedbyuser }}</td>
          </tr>
      </table>
    </td>
    <td valign="top" style="padding-left:20px" width="400px">
      <table class="table table-bordered" >
          <th scope="col">Type</th>
          <th scope="col">Date</th>
          <th scope="col">Value</th>
          <th scope="col">Status</th>
          <tr *ngFor="let transaction of transactions">
              <td scope="row">{{ transaction.transaction_type === 1 ? 'Sell' : 'Buy' }}</td>
              <td scope="row">{{ transaction.transaction_date  | date: 'dd/MM/yyyy' }}</td>
              <td scope="row">{{ transaction.transaction_value | currency }}</td>
              <td scope="row">{{ transaction.status }}</td>
          </tr>
      </table>
    </td>
  </tr>
</table>
