<form method="post" action='/busroutes'>
  <input type="text" name="name" placeholder="name"/>
  <input type="text" name="from" placeholder="from"/>
  <input type="text" name="to" placeholder="to"/>
  <input type="text" name="days" placeholder="days"/>
  <button type="submit">Post!</button>
</form>
